.weather-box {
  margin-top: 80px;
  width: 350px;
  text-align: center;
  height: 400px;
}
.weather-box button {
  background-color: #a9d0f5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
form {
  width: 350px;
  height: 450px;
  position: relative;
}
#weatherInput {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
}
.result-weather {
  width: 300px;
  line-height: 2;
  font-size: 25px;
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 주요 도시 */
.main-city {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-cityBtn:hover + .main-city {
  display: block;
}
.main-city table,
.main-city th,
.main-city td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  width: 250px;
}
.main-city th {
  background-color: #a9d0f5;
}
.main-city td {
  background-color: white;
}
